<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

    <title>Welcome!</title>

  </head>

  <body>

    <!--NAVBAR-->
  	<nav class="navbar navbar-expand-lg navbar-light bg-light pb-3 pt-3">
  		<a class="navbar-brand" href="#"><img src="static/logo.jpg" alt="STORYTIME" height ="30" width="135"></a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNavDropdown">
  	</div>
  </nav>

<!--FLASHED MESSAGES-->
{% with messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  	<strong>Error:</strong> {{message}}
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  		<span aria-hidden="true">&times;</span>
  	</button>
  </div>
  {% endfor %}
  {% endwith %}

<!--INFO CARD-->
<div class="card mt-2 ml-5 mr-5">
  <div class="card-header">
    Welcome!
  </div>
  <div class="card-body">
    <h5 class="card-title">Getting Started</h5>
    <p class="card-text">On this page you can create an new account or login with one you already have.</p>
  </div>
</div>


<!--SIGN UP AND LOGIN BOXES-->
<div class="row">
	<div class="container h-100 d-flex justify-content-center pt-5">

    	<div class="jumbotron my-auto col-md-6 mr-5">
    	<h1 class="display-4 mb-5">Sign Up</h1>
    		<form action="/signUp" method="post" target="_self">

      			<div class="input-group mb-3">
      				<div class="input-group-prepend">
    					<span class="input-group-text">Username:</span>
 	  				</div>
 	  				<input type="text" class="form-control" placeholder="John Doe" aria-label="John Doe" name = "uname">
 				</div>

      			<div class="input-group mb-3">
      				<div class="input-group-prepend">
    					<span class="input-group-text">Password:</span>
 	  				</div>
 	  				<input type="password" class="form-control" placeholder="••••••••" aria-label="••••••••" name="pword">
     			 </div>

   	  			<button type="submit" class="btn btn-success btn-block " id="SignUp">Sign Up</button>
    		</form>
    	</div>

    	<div class="jumbotron my-auto col-md-6 ml-5">
    		<h1 class="display-4 mb-5">Log In</h1>
    		<form action="/signIn" method="post" target="_self">

      			<div class="input-group mb-3">
      				<div class="input-group-prepend">
    					<span class="input-group-text">Username:</span>
 	  				</div>
 	  				<input type="text" class="form-control" placeholder="John Doe" aria-label="John Doe" name = "uname">
 				</div>

      			<div class="input-group mb-3">
      				<div class="input-group-prepend">
    					<span class="input-group-text">Password:</span>
 	  				</div>
 	  				<input type="password" class="form-control" placeholder="••••••••" aria-label="••••••••" name="pword">
     			 </div>

    			 <div class="my-4">
    			 	<span class="text-danger"><u><a href="/forgotPass" style="color:crimson"><p>Forgot password?</p></a></u></span>
				 </div>

      				<button type="submit" class="btn btn-primary btn-block" id="SignIn">Sign In</button>

    		</form>
    	</div>
	</div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>